  <ons-popover direction="down" cancelable>
    <ons-list>
      <ons-list-item modifier="tappable" ng-click="setCurBezier('quad')"><img src="images/icon-quad.png" width="30px" height="30px" style="margin:3px 10px -10px -5px" alt=""/>Quad</ons-list-item>
      <ons-list-item modifier="tappable" ng-click="setCurBezier('perspective')"><img src="images/icon-perspective.png" width="30px" height="30px" style="margin:3px 10px -10px -5px" alt=""/>Perspective</ons-list-item>
      <ons-list-item modifier="tappable" ng-click="setCurBezier('free')"><img src="images/icon-bezier.png" width="30px" height="30px" style="margin:3px 10px -10px -5px" alt=""/>Free bezier</ons-list-item>
    </ons-list>
  </ons-popover>
